<?xml version='1.0' encoding='utf-8'?>
<widget id="com.buggetbirl.todayluck" version="0.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" android-versionCode="1">
    <name>Today Luck</name>
    <description>
        Luck Today
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
       Bug Duck Birl
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
	
	 <icon src="icon.png"/>
	  
    <platform name="android">
        <preference name="android-minSdkVersion" value="14" />
        <allow-intent href="market:*" />
		
		    <icon src="www/res/icon/android/ldpi.png" density="ldpi"/>
			<icon src="www/res/icon/android/mdpi.png" density="mdpi"/>
			<icon src="www/res/icon/android/hdpi.png" density="hdpi"/>
			<icon src="www/res/icon/android/xhdpi.png" density="xhdpi"/>
			<icon src="www/res/icon/android/xxhdpi.png" density="xxhdpi"/>
			<icon src="www/res/icon/android/xxxhdpi.png" density="xxxhdpi"/>
			<feature name="SocialSharing">
			  <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
			</feature>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="none" />
		<feature name="SocialSharing">
		  <param name="ios-package" value="SocialSharing" />
		</feature>
    </platform>
	
	 
	  <platform name="wp8">

	  </platform>
	  <platform name="windows">
	   </platform>
	   <preference name="android-build-tool" value="gradle" />
<preference name="phonegap-version" value="cli-8.0.0" />
    <preference name="DisallowOverscroll" value="true" />
	<preference name="loadUrlTimeoutValue" value="700000" />
	<preference name="fullscreen" value="true" />
	<preference name="permissions" value="none" />
    <plugin name="cordova-plugin-statusbar" spec="~1.0.1" />
	<plugin name="cordova-plugin-admobpro" spec="^2.29.29" />
	<plugin name="cordova-plugin-inappbrowser" />
	<plugin name="cordova-plugin-x-socialsharing" />
<plugin name="phonegap-plugin-barcodescanner" />
	
</widget>
